<div>
  <table
    mat-table
    [dataSource]="heroes$"
    class="table"
    matSort
    matSortActive="points"
    matSortDirection="desc"
  >
    <ng-container matColumnDef="place">
      <th mat-header-cell *matHeaderCellDef>Place</th>
      <td mat-cell *matCellDef="let row">{{ row.place }}</td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let row">
        <div class="image">
          <img
            [src]="row.hero.imageUrl"
            [alt]="row.heroId"
            width="100%"
            height="auto"
          />
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{ row.hero.name }}</td>
    </ng-container>

    <ng-container matColumnDef="range">
      <th mat-header-cell *matHeaderCellDef>Range</th>
      <td mat-cell *matCellDef="let row">
        <div class="image">
          <img
            [src]="row.hero.meleeRangeImageUrl"
            [alt]="row.heroId"
            width="100%"
            height="auto"
          />
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="points">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Points</th>
      <td mat-cell *matCellDef="let row">{{ row.points }}</td>
    </ng-container>

    <ng-container matColumnDef="matches">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mathces</th>
      <td mat-cell *matCellDef="let row">{{ row.totalMatches }}</td>
    </ng-container>

    <ng-container matColumnDef="wins">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Wins</th>
      <td mat-cell *matCellDef="let row">{{ row.totalWins }}</td>
    </ng-container>

    <ng-container matColumnDef="looses">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Looses</th>
      <td mat-cell *matCellDef="let row">{{ row.totalLooses }}</td>
    </ng-container>

    <ng-container matColumnDef="kd">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>K\D</th>
      <td mat-cell *matCellDef="let row">{{ row.kd }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row class="table-heroes-row" *matRowDef="let row; columns: columns"
    (click)="heroClicked(row.hero.id)"></tr>
  </table>
</div>
