.sidenav {
    height: 100%;
    display: block;
    width: 150px;
}

.content {
    height: 100%;
    display: block;
}

.container {
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0;
    right: 0;
  }