<div *ngIf="heroStatistics">
  <div style="display: flex; align-items: center; justify-content: center">
    <h3 class="page-title">{{ heroStatistics.name }}</h3>
  </div>
  <div class="wrapper page-content">
    <div class="image-container">
      <img [src]="heroStatistics.imageUrl" />
    </div>
    <div>
      <h5>
        Current Place: {{ heroStatistics.place }} ({{ heroStatistics.points }}
        points)
      </h5>
      <img
        style="margin-bottom: 0.5rem"
        [src]="heroStatistics.meleeRangeImageUrl"
        [alt]="heroStatistics.heroId"
        width="64px"
        height="auto"
      />
      <h5>Hp: {{ heroStatistics.hp }}</h5>
      <h5>Deck size: {{ heroStatistics.deckSize }}</h5>
      <h5>Titles: {{ titles }}</h5>
    </div>
    <div *ngIf="sidekick">
      <h5>Sidekick(s): {{ sidekick.name }} (x1)</h5>
      <img
        style="margin-bottom: 0.5rem"
        [src]="sidekick.meleeRangeImageUrl"
        [alt]="sidekick.id"
        width="64px"
        height="auto"
      />
      <h5>Sidekick(s) Hp: {{ sidekick.hp }}</h5>
    </div>
    <div *ngIf="playstyle">
      <h5>
        Attack:
        <rate
          [rating]="playstyle.attack ? playstyle.attack : 0"
          [max]="3"
          (ratingChanged)="playStyleAttackChanged($event)"
        />
      </h5>
      <h5>
        Defence:
        <rate
          [rating]="playstyle.defence ? playstyle.defence : 0"
          [max]="3"
          (ratingChanged)="playStyleDefenceChanged($event)"
        />
      </h5>
      <h5>
        Trickery:
        <rate
          [rating]="playstyle.trickery ? playstyle.trickery : 0"
          [max]="3"
          (ratingChanged)="playStyleTrickeryChanged($event)"
        />
      </h5>
      <h5>
        Difficulty:
        <rate
          [rating]="playstyle.difficulty ? playstyle.difficulty : 0"
          [max]="3"
          (ratingChanged)="playStyleDifficultyChanged($event)"
        />
      </h5>
    </div>
  </div>
  <div>
    <matches [matchesSbj$]="matchesSbj$"></matches>
  </div>
</div>
