bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/ProjectEvaluation/unmatched.metadata.v9.bin
/.vs/ProjectEvaluation/unmatched.projects.v9.bin
/.vs/ProjectEvaluation/unmatched.strings.v9.bin
/.vs/Unmatched/config/applicationhost.config
/.vs/Unmatched/DesignTimeBuild/.dtbcache.v2
/.vs/Unmatched/FileContentIndex/7992f567-af78-4dd8-bd6f-2fcfa2aa3100.vsidx
/.vs/Unmatched/v17/.futdcache.v2
/.vs/Unmatched/v17/.suo
/.vs/Unmatched/v17/DocumentLayout.backup.json
/.vs/Unmatched/v17/DocumentLayout.json
/Unmatched.UI.BlazorServer/Unmatched.UI.BlazorServer.csproj.user
/.vs/Unmatched/FileContentIndex/ee4b92be-adc3-4d45-a093-106d8ae53310.vsidx
/.vs/Unmatched/FileContentIndex/*.vsidx
/.vs/Unmatched/v17/TestStore/0/*.testlog
/.vs/Unmatched/v17/TestStore/0/*.manifest
/.env
/.vs/Unmatched/v17/fileList.bin
