@page "/tournaments/{id}"
@using Unmatched.Services
@using Unmatched.Dtos
@using BlazorBootstrap
@inject ITournamentService TournamentService

<div class="page-content">
    <h1 class="page-title">@TournamentModel.Name</h1>
    <TournamentRecord Match="testMatch"></TournamentRecord>
</div>

@code {
    [Parameter]
    public string Id { get; set; } = "";

    private TournamentDto TournamentModel { get; set; } = new ();
    
    private MatchDto testMatch { get; set; }
    
    [Inject] protected PreloadService PreloadService { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            PreloadService.Show();
            Guid.TryParse(Id, out var tournamentId);
            if (tournamentId == Guid.Empty)
            {
                return;
            }
            
            TournamentModel = await TournamentService.GetAsync(tournamentId);

            testMatch = new MatchDto()
                {
                    Fighters = new List<FighterDto>()
                        {
                            new()
                                {
                                    Hero = new HeroDto
                                        {
                                            Name = "Princess Yennenga"
                                        },
                                    HpLeft = 10
                                },
                            new()
                                {
                                    Hero = new HeroDto
                                        {
                                            Name = "King Arthur"
                                        },
                                    HpLeft = 0
                                }
                        }
                };
        }
        finally
        {
            PreloadService.Hide();
        }
    }
}