@page "/tournaments/{id}"
@using Unmatched.Services
@using Unmatched.Dtos
@using BlazorBootstrap
@using Unmatched.Data.Enums
@inject ITournamentService TournamentService
@inject IMatchService MatchService

<div class="page-content tournament-background">
    <h1 class="page-title" style="text-align: center">@TournamentModel.Name</h1>
    <div class="net">
        @for (var stage = TournamentModel.InitialStage; stage <= Stage.GrandFinals; stage++)
        {
            <div>
                <TournamentStage TournamentModel="TournamentModel" Stage="stage" TournamentMatches="@TournamentMatches"></TournamentStage>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; } = "";

    private TournamentDto TournamentModel { get; set; } = new ();
    private List<MatchDto> TournamentMatches { get; set; } = new();
    
    [Inject] protected PreloadService PreloadService { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            PreloadService.Show();
            Guid.TryParse(Id, out var tournamentId);
            if (tournamentId == Guid.Empty)
            {
                return;
            }
            
            TournamentModel = await TournamentService.GetAsync(tournamentId);
            TournamentMatches = (await MatchService.GetByTournamentIdAsync(tournamentId)).ToList();
        }
        finally
        {
            PreloadService.Hide();
        }
    }
}

<style>
    .net {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
    }
    
    .tournament-background {
        background-image: url('@($"./{TournamentModel.Name}.jpg")');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
</style>