<div>
  <table
    mat-table
    [dataSource]="itemsSbj$"
    class="table"
    matSort
    [matSortActive]="defaultSort"
    matSortDirection="desc"
  >
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.header }}</th>
      <div *ngIf="isTextColumn(column.type)">
        <td mat-cell *matCellDef="let row">{{ column.valueGetter(row) }}</td>
      </div>
      <div *ngIf="isImageColumn(column.type)">
        <td mat-cell *matCellDef="let row">
          <div class="image">
            <img
              [src]="column.valueGetter(row)"
              [alt]="column.valueGetter(row)"
              width="100%"
              height="auto"
            />
          </div>
        </td>
      </div>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsIds"></tr>
    <tr
      mat-row
      class="table-row"
      *matRowDef="let row; columns: columnsIds"
      (click)="rowClicked(row)"
    ></tr>
  </table>
</div>
