@page "/addMatch"
@using Unmatched.Dtos
@using Unmatched.Services
@using Unmatched.Constants
@inject IMatchService MatchService
@inject NavigationManager NavManager

<PageTitle>Add match</PageTitle>

@if (_maps == null
    || _players == null
    || _heroes == null
    || _tournaments == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="row">
        <div class="column center">
            <FighterInfo @ref="FighterComponent" Title="Fighter" Players="_players" Heroes="_heroes"></FighterInfo>
        </div>
        <div class="column center">
            <FighterInfo @ref="OpponentComponent" Title="Opponent" Players="_players" Heroes="_heroes"></FighterInfo>
        </div>
    </div>

    <div class="row">
        <div class="triple-column"></div>
        <div class="triple-column center">
            <EditForm Model=@Match>
                <div>
                    <label for="Map">Map:</label>
                    <div style=" display: flex; flex-direction: row;">
                        <InputSelect @bind-Value=Match.MapId name="Map" id="maps" class="form-select">
                            @foreach (var map in _maps)
                            {
                                <option value="@map.Id"> @map.Name</option>
                            }
                        </InputSelect >
                        <button style="border-width: 0" @onclick="RandomizeMap">🎲</button>
                    </div>
                </div>
                <div>
                    <label for="Tournament">Tournament:</label>
                    <InputSelect @bind-Value=Match.TournamentId name="Tournament" id="tournaments" class="form-select">
                        @foreach (var tournament in _tournaments)
                        {
                            <option value="@tournament.Id"> @tournament.Name</option>
                        }
                    </InputSelect >
                </div>
                <div>
                    <label for="Date">Date:</label>
                    <InputDate @bind-Value=Match.Date name="Date" class="form-control"/>
                </div>
                <div>
                    <label for="Comment">Comment:</label>
                    <InputText @bind-Value=Match.Comment name="Comment" class="form-control"/>
                </div>
                <p></p>
                <button class="btn btn-primary" @onclick="AddNewMatch">Add match</button>
                <button class="btn btn-secondary" @onclick="Randomize">Randomize</button>
            </EditForm>
        </div>
        <div class="triple-column"></div>
    </div>
}

@code {

    private IEnumerable<PlayerDto> _players;

    private IEnumerable<HeroDto> _heroes;

    private IEnumerable<MapDto> _maps;

    private IEnumerable<TournamentDto> _tournaments;

    public FighterInfo FighterComponent;

    public FighterInfo OpponentComponent;

    readonly MatchDto Match = new()
        {
            Date = DateTime.UtcNow
        };

    protected override async Task OnInitializedAsync()
    {
        _players = await MatchService.GetAllPlayersAsync();
        _heroes = await MatchService.GetAllHeroesAsync();
        _maps = await MatchService.GetAllMapsAsync();
        _tournaments = await MatchService.GetAllTournamentsAsync();

        var defaultTournament = _tournaments.FirstOrDefault(x => x.Name == TournamentNames.SilverhandTournament);
        if (defaultTournament != null)
        {
            Match.TournamentId = defaultTournament.Id;
        }
    }

    private async Task AddNewMatch()
    {
        var match = Match;
        var fighter = FighterComponent.BuildDto();
        var opponent = OpponentComponent.BuildDto();

        await MatchService.AddAsync(match, fighter, opponent);
        
        //TODO: if successful 
        var url = "/duelMatchLog";
        NavManager.NavigateTo(url);
    }

    private async Task Randomize()
    {
        RandomizeMap();
        
        RandomizeFighter(FighterComponent);
        FighterComponent.Fighter.Turn = 1;
        
        RandomizeFighter(OpponentComponent, FighterComponent);
        OpponentComponent.Fighter.Turn = 2;

    }
    
    private void RandomizeMap()
    {
        var mapIndex = new Random().Next(0, _maps.Count());
        Match.MapId = _maps.ToArray()[mapIndex].Id;
    }

    private void RandomizeFighter(FighterInfo targetFighterComponent, params FighterInfo[] exceptFighters)
    {
        var exceptPlayers = exceptFighters.Select(x => x.Fighter.PlayerId).ToArray();
        var availablePlayers = _players.Where(x => x.Name is PlayerNames.Andrii or PlayerNames.Oleksandr).Select(x => x.Id).Except(exceptPlayers).ToArray();
        
        var randomPlayerIndex = new Random().Next(0, availablePlayers.Count());
        var randomPlayerId = availablePlayers.ToArray()[randomPlayerIndex];
        var randomPlayer = _players.First(x => x.Id == randomPlayerId);
        
        targetFighterComponent.Fighter.PlayerId = randomPlayer.Id;
        
        var exceptHeroIds = exceptFighters.Select(x => x.Fighter.HeroId).ToArray();
        targetFighterComponent.RandomizeHero(exceptHeroIds);
        
        targetFighterComponent.Fighter.ItemsUsed = 0;
    }
}