@page "/duelMatchLog"
@using Unmatched.Dtos
@using Unmatched.Services
@inject IUnmatchedService UnmatchedService

<PageTitle>Duel Match log</PageTitle>

<h1>Duel Match log</h1>

<DuelMatches matchLogEntries="matchLogEntries"></DuelMatches>

@code {

    private IEnumerable<MatchLogDto> matchLogEntries;

    protected override async Task OnInitializedAsync()
    {
        matchLogEntries = (await UnmatchedService.GetMatchLogAsync()).OrderByDescending(x => x.Date).ToArray();
        foreach (var matchLogEntry in matchLogEntries)
        {
            matchLogEntry.Fighters = matchLogEntry.Fighters.OrderBy(x => x.Turn);
        }
    }
}