@for (var i = 1; i <= Max; i++)
{
    var currentStar = i;
    <span style="cursor: pointer;" @onclick="()=>UpdateRating(currentStar)">
        @if (currentStar <= Rating)
        {
            <span style="font-size: 28px">★</span> 
        }
        else
        {
            <span style="font-size: 28px">☆</span>
        }
    </span>
}
@code{
    [Parameter]
    public int Rating { get; set; }

    [Parameter]
    public int Max { get; set; } = 5;

    private void UpdateRating(int newRating)
    {
        Rating = newRating;

        if (RatingChanged.HasDelegate)
        {
            RatingChanged.InvokeAsync(Rating);
        }
    }
    [Parameter]
    public EventCallback<int> RatingChanged { get; set; }
}