@page "/initialize"
@using Unmatched.Entities
@using Unmatched.DataInitialization

@inject IDataInitializer<Player> PlayersDataInitializer
@inject IDataInitializer<Map> MapsDataInitializer
@inject IDataInitializer<Tournament> TournamentsDataInitializer
@inject IDataInitializer<Sidekick> SidekicksDataInitializer
@inject IDataInitializer<Hero> HeroesDataInitializer
@inject IUnrankedMatchDataInitializer UnrankedMatchDataInitializer
@inject IFirstTournamentMatchesDataInitializer FirstTournamentMatchesDataInitializer

<button class="btn btn-primary" @onclick="InitializeData">Initialize Data</button>

@code {

    private async Task InitializeData()
    {
        await PlayersDataInitializer.InitializeAsync();
        await MapsDataInitializer.InitializeAsync();
        await TournamentsDataInitializer.InitializeAsync();
        await SidekicksDataInitializer.InitializeAsync();
        await HeroesDataInitializer.InitializeAsync();

        await UnrankedMatchDataInitializer.InitializeAsync();
        await FirstTournamentMatchesDataInitializer.InitializeAsync();
    }
}