@page "/maps-statistics"
@using Unmatched.Dtos
@using Unmatched.Services
@inject IUnmatchedService UnmatchedService
@inject NavigationManager NavManager

<PageTitle>Maps Statistics</PageTitle>

<h1>Maps Statistics</h1>

@if (maps == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <SfGrid DataSource="@maps" AllowPaging="true" AllowSorting="true">
        <GridPageSettings PageSize="20"></GridPageSettings>
        <GridEvents OnRecordClick="RecordClickHandler" TValue="MapStatisticsDto"></GridEvents>
        <GridColumns>
            <GridColumn Field=@nameof(MapStatisticsDto.MapName) HeaderText="Map" Width="120"></GridColumn>
            <GridColumn Field=@nameof(MapStatisticsDto.TotalMatches) HeaderText="Matches" Width="80"></GridColumn>
        </GridColumns>
    </SfGrid>
}

@code {

    private IEnumerable<MapStatisticsDto> maps;

    protected override async Task OnInitializedAsync()
    {
        maps = (await UnmatchedService.GetMapsStatisticsAsync()).OrderBy(x => x.MapName).ToArray();
    }
    
    public void RecordClickHandler(RecordClickEventArgs<MapStatisticsDto> args)
    {
        var mapId = args.RowData.MapId;
        var url = $"/maps-statistics/{mapId}";
        NavManager.NavigateTo(url);
    }
}