@page "/initialize"
@using Unmatched.Services
@using Unmatched.Initializer.Initializers

@inject IDataInitializer DataInitializer
@inject IRatingService RatingService

<button class="btn btn-primary" @onclick="InitializeData">Initialize Data</button>
<button class="btn btn-primary" @onclick="RecalculateRating">Rating Recalculation</button>

@code {

    private async Task InitializeData()
    {
        await DataInitializer.InitializeHeroesAsync();
        await DataInitializer.InitializeMapsAsync();
    }
    
    
    private async Task RecalculateRating()
    {
        await RatingService.RecalculateAsync();
        Console.WriteLine("Recalculation is done!");
    }
}