@inherits LayoutComponentBase
@using BlazorBootstrap

<PageTitle>Unmatched</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>
    
    <Preload LoadingText="Loading..." />

    <main>
        <div>
            @Body
        </div>
    </main>
</div>