@inherits Microsoft.AspNetCore.Components.LayoutComponentBase
@using BlazorBootstrap

<PageTitle>Unmatched</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>
    
    <Preload LoadingText="Loading..." />

    <main>
        @Body
    </main>
</div>