@page "/duelMatchLog"
@using Unmatched.Dtos
@using Unmatched.Services
@inject IMatchService MatchService

<div class="page-content">
    <h1 class="page-title">Duel Match log</h1>

    <DuelMatches matchLogEntries="matchLogEntries"></DuelMatches>
</div>


@code {

    private IEnumerable<MatchLogDto> matchLogEntries;
    [Inject] protected BlazorBootstrap.PreloadService PreloadService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            PreloadService.Show();
            matchLogEntries = (await MatchService.GetMatchLogAsync()).OrderByDescending(x => x.Date).ToArray();
            foreach (var matchLogEntry in matchLogEntries)
            {
                matchLogEntry.Fighters = matchLogEntry.Fighters.OrderBy(x => x.Turn);
            }
        }
        finally
        {
            PreloadService.Hide();
        }
    }
}