@page "/duelMatchLog"
@using Microsoft.AspNetCore.Components
@using Unmatched.Dtos
@using Unmatched.Dtos.Match
@using Unmatched.Services
@using Unmatched.Services.Contracts
@inject IMatchService MatchService

<div class="page-content">
    <h1 class="page-title">Duel Match log</h1>

    <DuelMatches MatchLogEntries="_matchLogEntries"></DuelMatches>
</div>


@code {
    private List<UiMatchLogDto> _matchLogEntries = new();
    
    [Inject] protected BlazorBootstrap.PreloadService PreloadService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            PreloadService.Show();
            _matchLogEntries = (await MatchService.GetMatchLogAsync()).OrderByDescending(x => x.Date).ToList();
            foreach (var matchLogEntry in _matchLogEntries)
            {
                matchLogEntry.Fighters = matchLogEntry.Fighters.OrderBy(x => x.Turn);
            }
        }
        finally
        {
            PreloadService.Hide();
        }
    }
}