.column {
    flex: 50%;
}

.triple-column {
    flex: 33.3%;
}

.row:after {
    display: flex;
}

.start {
    display: flex;
    justify-content: start;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.end {
    display: flex;
    justify-content: end;
    align-items: center;
}

.page-content {
    padding-left: var(--um-space-4);
    padding-right: var(--um-space-4);
}

.page-title {
    padding-top: var(--um-space-4);
}