@page "/maps-statistics"
@using Microsoft.AspNetCore.Components
@using Unmatched.Dtos
@using Unmatched.Dtos.Statistics
@using Unmatched.Services.Statistics
@inject NavigationManager NavManager
@inject IMapStatisticsService MapStatisticsService

<div class="page-content">
    <h1 class="page-title">Maps Statistics</h1>
    <SfGrid DataSource="@_maps" AllowPaging="true" AllowSorting="true">
        <GridPageSettings PageSize="20"></GridPageSettings>
        <GridEvents OnRecordClick="RecordClickHandler" TValue="UiMapStatisticsDto"></GridEvents>
        <GridColumns>
            <GridColumn Field="Name" HeaderText="Map" Width="120"></GridColumn>
            <GridColumn Field=@nameof(UiMapStatisticsDto.TotalMatches) HeaderText="Matches" Width="80"></GridColumn>
        </GridColumns>
    </SfGrid>
</div>

@code {
    private List<UiMapStatisticsDto> _maps = new();

    [Inject] protected BlazorBootstrap.PreloadService PreloadService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            PreloadService.Show();
            _maps = (await MapStatisticsService.GetMapsStatisticsAsync()).OrderBy(x => x.Name).ToList();
        }
        finally
        {
            PreloadService.Hide();
        }
    }

    private void RecordClickHandler(RecordClickEventArgs<UiMapStatisticsDto> args)
    {
        var mapId = args.RowData.MapId;
        var url = $"{Urls.MapsStatistics}/{mapId}";
        NavManager.NavigateTo(url);
    }
}