@page "/"

<PageTitle>Unmatched</PageTitle>

<div>
    <img class="centered" src="/Unmatched-logo.png" />
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
    }
}

<style>
    .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index:-1;
    }
</style>